@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import "antd/dist/antd.css";

body {
  font-family: "Poppins", sans-serif;
}

.menubar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sider {
  height: 100%;
  background: #fff;
}
.sidebar {
  padding: 12px;
  background: #fff;
}
.alert {
  margin-bottom: 1em;
}
.dash {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: minmax(100px, auto);
}

.dash1 {
  grid-column: 1/5;
}
.dash2 {
  grid-column: 5/-1;
}
.dash3 {
  grid-column: 1/4;
  grid-row: span 2;
}
.dash4,
.dash5 {
  grid-column: 4/-1;
}

/* custom Layout */
.customLayout {
  display: flex;
  justify-content: space-between;
}

.commonBodyText {
  margin-top: 0;
}
/* override */
.ant-layout-header {
  background: #fff;
}

.ant-menu-root.ant-menu-vertical {
  background: #f0f2f5;
}

.ant-menu-item,
.ant-menu-item-group-title {
  border-radius: 8px;
  font-weight: 500;
}
.anticon svg {
  font-size: 18px;
}

.ant-card-head-title {
  font-size: 1.5rem;
  font-weight: 500;
}
