@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import "antd/dist/antd.css";

body {
  font-family: "Poppins", sans-serif;

  height: 100vh;
}

.sider {
  height: 100%;
  background: #fff;
}
.sidebar {
  padding: 12px;
}
.alert {
  margin-bottom: 1rem;
}
.dash {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
}

.dash .dash1 {
  grid-column: 1/3;
}
/* override */
.ant-layout-header {
  background: #fff;
}

.ant-menu-item,
.ant-menu-item-group-title {
  border-radius: 8px;
  font-weight: 500;
}
.anticon svg {
  font-size: 18px;
}
